{% block html_head_container %}

{% include 'components/header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" ng-controller="apastronHeader">
			{% block header %}
				<div class="wrapper">
					<h1 class="logo">
						<a href="{{site.url}}" rel="home">{[ test.logo ]} - {[ test.page_title ]}</a>
					</h1>
					<nav id="navigation" role="navigation">
						{% include "components/menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'components/footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
